name: Tests
on: [push, pull_request]

jobs:
  tests:
    env:
      ENV_NAME: recordlinkage
      PYTHON: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}
    name: Testing
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        # Adding -l {0} helps ensure conda can be found properly.
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]  # it's a great idea to also include: macos-latest, windows-latest
        python-version: ["3.12", "3.11", "3.13"]  # it's a great idea to also include: "3.11", "3.13"
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          python-version: ${{ env.PYTHON }}
          environment-file: environment.yml
          activate-environment: ${{ env.ENV_NAME }}
          conda-remove-defaults: "true"

      - name: Conda Info
        run: |
          conda info -a
          conda list
          PYVER=`python -c "import sys; print('{:d}.{:d}'.format(sys.version_info.major, sys.version_info.minor))"`
          if [[ $PYVER != ${{ env.PYTHON }} ]]; then
            exit 1;
          fi

      - name: Install
        run: pip install --no-deps .

      - name: Lint with Ruff
        run: ruff check

      - name: Run Tests
        run: |
          python -m pytest --cov=record_linkage_package --cov-report=term-missing